{"filter":false,"title":"requirements.txt","tooltip":"/A01-EA-Project_ITP4122/requirements.txt","undoManager":{"mark":0,"position":-1,"stack":[[{"start":{"row":16,"column":12},"end":{"row":17,"column":0},"action":"insert","lines":["",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":16,"column":12},"end":{"row":16,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1688468090148,"hash":"d8e6662e92771e02ac01b2fc66888909b0256ea7"}